.textoPrincipal{
    text-align: center;
}

.estilosVerficacion{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.validaciones{
    text-align: center;
    font-size:xx-small
}


